.user{
    width: 100%;
    max-width: 320px;
    border: 1px solid;
    border-color: #E5E5E5;
    padding: 0.6em 0.5em 0.5em 0.8em;
    margin-left: 1em;
    border-radius: 0.5em;
}
.user__name{
    padding-top: .2em;
    text-align: center;
    color: #0F0F2D;
    font-size: 1.2rem;
}
.user__line{
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-color: white;
}
.user__list{
   display: grid;
   gap: 0.5em; 
}
.user__item{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.user__label{
    color:#D3D3D3;
}
.button{
    position: relative;
    height: 2em;
}
.button__delete{
    position: absolute;
    right: 4em;
    background-color: rgba(255, 0, 0, 0.715);
    color: rgba(255, 255, 255, 0.856);
    border-radius: .2em;
}
.button__update{
    right: 0;
    position: absolute;
    border-radius: .2em;
}

